body {
	background-image: 
		url(" https://tse4.mm.bing.net/th?id=OIP.M48fed5709dbd0ed644e92a90c798621co0&pid=15.1&P=0&w=220&h=166");
		repeat; 
	font-family: 
		'Open Sans', 
		sans-serif; 			
}	
caption {
	font-size: 130%;
	padding: 5px;
}
h2, h3, ul, caption {
	color: #85161C;
}
h2, h3, ul, caption {
	text-decoration: underline; 
}		
.juleeFont {
	font-family: 'Julee', cursive;
	text-align: center;
} 
ul {
	font-style: italic;
}
 