h1, h2, h3 {
	text-align: center;
	color: red;
}
h1 {
	font-family: 
	'Sonsie One', cursive;
}
.linkStyles1:link {
	text-decoration: underline; 
	color: #FFF; 
	background: #000;
	font-weight: normal;
}
.linkStyles1:visited {
	text-decoration: underline; 
	color: #FF0; 
	background: #06a;
	font-weight: normal;
}
.linkStyles1:hover {
	text-decoration: underline; 
	color: #FFF; 
	background: #008;
	font-weight: bold;
}				
.linkStyles1:active {
	text-decoration: none; 
	color: #FFF; 
	background: #06F
	font-weight: normal;
}	
.linkStyles2:link {
	text-decoration: underline; 
	color: #FFF; 
	background: #000;
	font-weight: normal;
}
.linkStyles2:visited {
	text-decoration: underline; 
	color: #FF0; 
	background: #06a;
	font-weight: normal;
}
.linkStyles2:hover {
	text-decoration: underline; 
	color: #FFF; 
	background: #008;
	font-weight: bold;
}				
.linkStyles2:active {
	text-decoration: none; 
	color: #FFF; 
	background: #06F;
	font-weight: normal;
}
.linkStyles3:link {
	text-decoration: underline; 
	color: #FFF; 
	background: #000;
	font-weight: normal;
}
.linkStyles3:visited {
	text-decoration: underline; 
	color: #FF0; 
	background: #06a;
	font-weight: normal;
}
.linkStyles3:hover {
	text-decoration: underline; 
	color: #FFF; 
	background: #008;
	font-weight: bold;
}				
.linkStyles3:active {
	text-decoration: none; 
	color: #FFF; 
	background: #06F;
	font-weight: normal;
}			