h1, h3 {
	text-align: center;
	color: red;
}
.navLinks {
	text-align: left;
	width: 20%;
}
body {
	background-color: LightGray;
}	
h1 {
	font-family: 
	'Sonsie One', cursive;
}
th {
	font-size: 18px;
}